h1 {
    /* vw는 뷰포트 너비의 1%, vh는 뷰포트 높이의 1% */
    /* vmin은 뷰포트 너비와 높이 중 작은 값의 1% */
    /* vmax는 뷰포트 너비와 높이 중 큰 값의 1% */
    font-size: 5vw; 
    text-align: center;
}

p {
    text-align: center;
}

/*PC 화면*/
@media screen and (min-width: 1024px) {
    /*화면 사이즈가 1024px 이상되면 아래의 스타일 적용됨*/
    .mediaEX {
        color: red;
    }
}

/*테블릿 화면*/
@media screen and (min-width: 768px) and(max-width: 1023px){
    .mediaEX {
        color: green;
    }
}

/*모바일 화면*/
@media screen and (max-width: 767px) {
    .mediaEX {
        color: blue;
    }
}

.flex-container {
    display: flexb;
    justify-content: space-evenly;
}

.box{
    background: lightgreen;
    border: solid 1px black;
    width: 100px;
    height: 100px;
}