.header{
    display: flex;
    justify-content: space-between;
}

.navbar-menu {
    display: none;
}

.navbar-menu.active {
    display: block;
}


.emergency-counseling {

}

.non-face-counseling {

}

.daily-self {

}

.daily-diary {

}

.manual {
    
}

.navbar-toggleBtn {
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 5px;
}

@media screen and (max-width: 1023px) {
    
}

